@model FIT.Models.Corredor

@{
    ViewBag.Title = "Nuevo Corredor";
    IEnumerable<SelectListItem> Carreras = ViewBag.Carreras;
}

<h2>Crear nuevo corredor</h2>


@using (Html.BeginForm("CreateRunner","Home", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="Nombres" class="control-label col-md-2">Nombres</label>
                <div class="col-md-10">
                    <input type="text" name="Nombres" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Paterno" class="control-label col-md-2">Apellido Paterno</label>
                <div class="col-md-10">
                    <input type="text" name="Paterno" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Materno" class="control-label col-md-2">Apellido Materno</label>
                <div class="col-md-10">
                    <input type="text" name="Materno" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="Edad" class="control-label col-md-2">Edad</label>
                <div class="col-md-10">
                    <select name="Edad" class="form-control" required>
                        @for(int i = 5; i < 85; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="Telefono" class="control-label col-md-2">Telefono</label>
                <div class="col-md-10">
                    <input type="text" name="Telefono" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="Celular" class="control-label col-md-2">Celular</label>
                <div class="col-md-10">
                    <input type="text" name="Celular" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="Correo" class="control-label col-md-2">Correo</label>
                <div class="col-md-10">
                    <input type="email" name="Correo" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Sexo" class="control-label col-md-2">Sexo</label>
                <div class="col-md-10">
                    <select name="Sexo" class="form-control" required>
                        <option value="H">Hombre</option>
                        <option value="M">Mujer</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="Talla" class="control-label col-md-2">Talla</label>
                <div class="col-md-10">
                    <select name="Talla" class="form-control" required>
                        <option value="S">Chica</option>
                        <option value="M">Mediana</option>
                        <option value="G">Grande</option>
                        <option value="XL">Extra Grande</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="IdCarrera" class="control-label col-md-2">Carrera</label>
                <div class="col-md-10">
                    @Html.DropDownList("IdCarrera", Carreras , htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
        </div>
    </div>
}

<div class="col-md-12">
    @Html.ActionLink("Regresar a Inicio", "Index")
</div>
